@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FDFCF0;
  color: #1A1A1A;
  overflow-x: hidden;
}
/* Custom subtle scrollbar for internal containers */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.1);
}